@model Pizza

@*Add property IsOnPromotion to the Pizza Model and the PizzaViewModel if there isn't already a property called IsPromotion.
Use an if expression in the Pizza Details View and add a h4 tag
that will say whether the pizza is on promotion or not depending on the property IsOnPromotion.*@

<h2>Pizza details:</h2>
<p>Name: @Model.Name</p>
<p>Price: @Model.Price</p>

@{
    string message = "This pizza is on promotion.";


    if (Model.IsOnPromotion)
    {
        <p>@message</p>
    }

}
